[submodule "external_modules/src/modules/rl_tools_benchmark/CMSIS_5"]
	path = external_modules/src/modules/rl_tools_benchmark/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "external_modules/src/modules/rl_tools_benchmark/CMSIS-DSP"]
	path = external_modules/src/modules/rl_tools_benchmark/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "px4_autopilot"]
	path = px4_autopilot
	url = https://github.com/rl-tools/px4-autopilot.git
